.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--footer_background);
  color: var(--footer_color);
  padding: 40px 80px;
}

.first-section,
.second-section,
.third-section {
  flex: 1;
  margin: 20px;
}

.first-section {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: var(--footer_title_size);
}

.desc {
  font-size: var(--footer_desc_size);
}

/*Browse section*/
.browse {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  align-items: center;
}

.browse-nav {
  list-style: none;
}

.browse-item {
  margin: 10px 0;
}

.browse-link {
  text-decoration: none;
  color: var(--footer_color);
}

/*Contact section*/
.contact {
  display: flex;
  flex-direction: column;
}

.contact-title {
  justify-content: left;
  align-items: center;
}

hr {
  width: 60%;
}

.maps-field,
.phone-field,
.email-field {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.address,
.maps-link,
.phone-link,
.email-link {
  font-size: var(--footer_desc_size);
}

.a {
  text-decoration: none;
  color: var(--footer_color);
}
