.offer-title-main {
  font-size: 80px;
  letter-spacing: 2px;
  color: #13b388;
}

.offer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  color: var(--body_color);
  font-size: 48px;
}

.icon-card {
  max-width: 100px;
}

.offert-title {
  color: #13b388;
  font-size: 48px;
}
/*//#13b388 verde acqua
  //#F72798 magenta
  //#F9F9F9 bianco*/
.offert-desc {
  color: #000;
  font-size: 28px;
}

@media screen and (max-width: 960px) {
  .offer-title {
    font-size: 60px;
    letter-spacing: 0px;
    color: var(--body_color);
  }

  .offer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    font-size: 38px;
    margin: 30px;
  }
}
