:root {
  --body_background: #F9F9F9;
  --body_color: #13b388;
  --navbar_background: #13b388;
  --navbar_color: #F9F9F9;
  --icon_color: #F9F9F9;
  --desc: #000;
  --footer_background: #13b388;
  --footer_color: #F9F9F9;
  --hr_color: #F9F9F9;
  --footer_title_size: 20px;
  --footer_desc_size: 15px;
  --title_size: 80px;
  --subtitle_size: 48px;
  --desc_size: 28px;
}

[data-theme="dark"] {
  --body_background: #000;
  --body_color: #F72798;
  --navbar_background: #000;
  --navbar_color: #F72798;
  --icon_color: #F9F9F9;
  --desc: #F9F9F9;
  --footer_background: #000;
  --footer_color: #F72798;
  --hr_color: #F72798;
  --footer_title_size: 20px;
  --footer_desc_size: 15px;
  --title_size: 80px;
  --subtitle_size: 48px;
  --desc_size: 28px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
