:root {
  --body_background: #F9F9F9;
  --body_color: #13b388;
  --navbar_background: #13b388;
  --navbar_color: #F9F9F9;
  --icon_color: #F9F9F9;
}

[data-theme="dark"] {
  --body_background: #000;
  --body_color: #E25822;
  --navbar_background: #000;
  --navbar_color: #E25822;
  --icon_color: #E25822;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
