.staff-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--body_background);
  margin: 20px 0;
}

.staff-title {
  font-size: var(--title_size);
  color: var(--body_color);
}

.staff-desc {
  font-size: 38px;
}

.staff-first-container,
.staff-second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coach {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.coach-image {
  max-width: 300px;
  max-height: 500px;
}

.info-container{
  display: flex;
  flex-direction: column;
}

.coach-name {
  font-size: var(--subtitle_size);
  color: var(--body_color);
}

.coach-job {
  font-size: 38px;
}

.coach-desc {
  font-size: var(--desc_size);
}
