.att-container {
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--body_background);
  margin: 20px 0;
}

.att-title {
	font-size: 80px;
  color: var(--body_color);
}

.header-desc {
	color: var(--desc);
  font-size: 38px;
  margin: 30px;
}

.att-container {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attivita1,
.attivita3 {
	display: flex;
  flex-direction: row;
  margin: 30px;
}

.attivita2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 30px;
}

.att-container .icon-card-att {
	color: var(--desc);
	width: 200;
  height: 300;
}

.info-att-container{
	display: flex;
  flex-direction: column;
}

.att-name {
  font-size: 48px;
  color: var(--body_color);
}

.att-desc {
  color: var(--desc);
  font-size: 28px;
}

@media screen and (max-width: 960px) {
  .att-container .icon-card-att {
    width: 200px; 
    height: 200px;
  }

	.att-title {
    font-size: 60px;
  }

	.header-desc {
		font-size: 30px;
	}

  .att-desc {
    font-size: 20px;
  }

  .attivita1,
  .attivita2,
  .attivita3 {
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
    text-align: center;
  }
}
